@model ProductoManDTOs
@{
    ViewData["Title"] = "Formulario Producto";
    ActionsUI action = ViewBag.ActionsUI as ActionsUI;
}
<link rel="stylesheet" href="~/bootstrap/Mant.css">

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="section-title">
            <h2>Procesos Producto</h2>
            <p>Encuentra, crea, edita y elimina rápidamente productos en nuestro inventario</p>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">@action.ObtenerTitulo("Producto")</h6>
                </div>
                <div class="card-body">
                    <form asp-action="@action.ObtenerAccion()">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>
                        <input type="hidden" name="id" value="@Model.Id" />
                        
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label">Nombre</label>
                                    <input asp-for="Nombre" class="form-control" placeholder="Nombre del producto" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ContenidoEmpaque" class="control-label">Contenido del Empaque</label>
                                    <input asp-for="ContenidoEmpaque" class="form-control" placeholder="Ejemplo: 500ml, 1kg, etc." />
                                    <span asp-validation-for="ContenidoEmpaque" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="IdCategoriaProducto" class="control-label">Categoría del Producto</label>
                                    <input asp-for="IdCategoriaProducto" class="form-control" placeholder="ID de la categoría" />
                                    <span asp-validation-for="IdCategoriaProducto" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="submit" value="@action.ObtenerNombreBoton()" class="btn btn-primary mr-2" />
                                <a asp-action="Index" class="btn btn-dark">Cancelar</a>
                                <span class="text-danger d-block mt-3">@ViewBag.Error</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

@section Scripts {
    <script>
        ActionsUI.init('@action.ObtenerAccionJs()');
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @if (action.SiTraerDatos())
    {
        <script>
            $(function () {
                $("form input[name]").trigger("blur");
            });
        </script>
    }
}
