@model SysRestaurante.BL.DTOs.CompraDTOs.CompraManDTOs
@{
    ViewData["Title"] = "Form Compra";
    ActionsUI action = ViewBag.ActionsUI as ActionsUI;
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@action.ObtenerTitulo("Compra")</h6>
    </div>
    <div class="card-body">
        <form asp-action="@action.ObtenerAccion()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="row">
            
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NumeroFactura" class="control-label"></label>
                        <input asp-for="NumeroFactura" class="form-control" />
                        <span asp-validation-for="NumeroFactura" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                </div>
            
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Iva" class="control-label"></label>
                        <input asp-for="Iva" class="form-control" />
                        <span asp-validation-for="Iva" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdProveedor" class="control-label"></label>
                        <input asp-for="IdProveedor" class="form-control" />
                        <span asp-validation-for="IdProveedor" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="@action.ObtenerNombreBoton()" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
                    </div>
                    <span class="text-danger">@ViewBag.Error</span>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        ActionsUI.init('@action.ObtenerAccionJs()');
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @if (action.SiTraerDatos())
    {
        <script>
            $(function () {
                $("form input[name]").trigger("blur");
            });
        </script>
    }
}
