@model CompraManDTOs
@{
    ViewData["Title"] = "Form Compra";
    ActionsUI action = ViewBag.ActionsUI as ActionsUI;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@action.ObtenerTitulo("Compra")</h6>
    </div>
    <div class="card-body">
        <form asp-action="@action.ObtenerAccion()" onsubmit="return validForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NumeroFactura" class="control-label"></label>
                        <input asp-for="NumeroFactura" class="form-control" />
                        <span asp-validation-for="NumeroFactura" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Iva" class="control-label"></label>
                        <input asp-for="Iva" class="form-control" readonly data-nameprop="IVA" />
                        <span asp-validation-for="Iva" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" class="form-control" readonly  data-nameprop="Total"/>
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                </div>

               <div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="IdProveedor" class="control-label">Proveedor</label>
            <select id="slProveedor" class="form-control" asp-for="IdProveedor">
                <partial name="_SelectProveedor" model="ViewBag.Proveedores" />
            </select>
            <span asp-validation-for="IdProveedor" class="text-danger"></span>
        </div>
    </div>
            </div>

            <!-- Detalle de Compra -->
            <fieldset class="border p-3 mb-4">
                <legend class="w-auto h5">Detalle</legend>
                <div>
                    <partial name="_DetalleCompra" model="Model.DetalleCompras" />
                </div>
            </fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="@action.ObtenerNombreBoton()" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
                    </div>
                    <span class="text-danger">@ViewBag.Error</span>
                </div>
            </div>
        </form>
    </div>
</div>

<link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>

@section Scripts {
    <script>
        ActionsUI.init('@action.ObtenerAccionJs()');

        var eventsValidForm = [];
        function validForm() {
            for (var i = 0; i < eventsValidForm.length; i++) {
                eventsValidForm[i]();
            }
            return true;
        }

       
    </script>
    <script>
        $(document).ready(function () {
           ActionsUI.init('@action.ObtenerAccionJs()');
            $("#slProveedor").val('@Model.IdProveedor');
        });
    </script>


  
}
